<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestNGTest_10_Times">
    <classes>
      <class name="testngtests.ReqResTest"/>
    </classes>
  </test> <!-- TestNGTest_10_Times -->
</suite> <!-- Suite -->
